alembic
aniso8601
appnope
asttokens
attrs
automium
automium-web
autopep8
awscli
backcall
bcrypt
botocore
certifi
cffi
charset-normalizer
click
colorama
colorclass
config
cryptography
debugpy
decorator
distlib
distro
dnspython
docker
docker-compose
dockerpty
docopt
docutils
dominate
email-validator
entrypoints
environment
executing
filelock
Flask
Flask-Bootstrap
Flask-Login
Flask-Migrate
Flask-MySQL
flask-restx
Flask-Scss
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
ipykernel
ipython
itsdangerous
jedi
Jinja2
jmespath
jsonschema
jupyter_client
jupyter_core
legacy
Mako
MarkupSafe
matplotlib-inline
MyApplication
nest-asyncio
packaging
paramiko
parso
pexpect
pickleshare
pip-upgrade
pip-upgrader
platformdirs
pointer
prompt-toolkit
psutil
psycopg2
psycopg2-binary
ptyprocess
pure-eval
pyasn1
pycodestyle
pycparser
Pygments
PyMySQL
PyNaCl
pyparsing
pyrsistent
pyScss
python-dateutil
python-decouple
python-dotenv
pytz
PyYAML
pyzmq
requests
rsa
s3transfer
six
SQLAlchemy
stack-data
terminaltables
texttable
toml
tomli
tornado
traitlets
urllib3
virtualenv
visitor
wcwidth
websocket-client
Werkzeug
WTForms
db