alembic
aniso8601
asttokens
attrs
automium
automium-web
autopep8
awscli
backcall
bcrypt
botocore
certifi
cffi
charset-normalizer
click
colorama==0.4.6
cryptography
debugpy
decorator
distlib
distro
dnspython
docker
docker-compose
dockerpty
docopt
docutils
dominate
email-validator
entrypoints
environment
executing
filelock
Flask==2.2.2
Flask-Bootstrap
Flask-Login
Flask-Migrate
flask-restx
Flask-Scss
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
ipykernel
ipython
itsdangerous
jedi
Jinja2
jmespath
jsonschema
jupyter-core
jupyter_client
legacy
Mako
MarkupSafe
matplotlib-inline
nest-asyncio
packaging
paramiko
parso
pexpect
pickleshare
platformdirs
pointer
prompt-toolkit
psutil
psycopg2
psycopg2-binary
ptyprocess
pure-eval
pyasn1
pycodestyle
pycparser
Pygments
PyMySQL
PyNaCl
pyparsing
pyrsistent
pyScss
python-dateutil
python-decouple
python-dotenv
pytz
PyYAML
pyzmq
requests
rsa
s3transfer
six
SQLAlchemy>=1.4.23
stack-data
texttable
toml
tornado
traitlets
urllib3
virtualenv
visitor
wcwidth
websocket-client
Werkzeug
WTForms
config