<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analitic - AgroCode</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700" rel="stylesheet">
	<link href="{{ url_for('static',filename='css/analytic.css') }}" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<!-- Sticky navbar-->
	<header class="header sticky-top">
		<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
			<div class="container"><a class="navbar-brand" href="{{ url_for('home') }}">
				<strong class="h6 mb-0 font-weight-bold text-uppercase">AgroCode</strong></a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">О нас</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('products') }}">Продукты</a></li>
						<li class="nav-item active"><a class="nav-link" href="#">Аналитика</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('team') }}">Наша команда</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Вход</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

		<section class="page-section" id="about">
            <div class="container">
                <div class="text-center mt-4">
                    <h2 class="section-heading text-uppercase mt-4">Детальная аналитика</h2>
                    <h3 class="section-subheading text-muted mt-4">Полная прозрачная картина бизнеса в любой момент в течение сезона и по его окончании</h3>
                </div>
                <ul class="timeline mt-4">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ url_for('static',filename='img/analytic/analytic.jpg') }}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Принимайте решения на основе данных</h4>
                                <h5 class="subheading"><i>С простым и понятным дашбордом</i></h5>
                            </div>
                            <div class="timeline-body mt-4">
                                <p class="text-muted">&bull; Визуализация всех данных </p>
                                <p class="text-muted">&bull; Формируйте отчет по продуктам, регионам, руководителям и т.д. </p>
                                <p class="text-muted">&bull; Создавайте собственные дашборды и формируйте отчеты для вашего бизнеса на основе собранных данных </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ url_for('static',filename='img/analytic/analytic-2.jpg') }}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Прозрачная визуализация вашего бизнеса</h4>
                                <h5 class="subheading"><i>В любой момент сезона</i></h5>
                            </div>
                            <div class="timeline-body mt-4">
                                <p class="text-muted">&bull; Практическая информация для повышения ROI</p>
                                <p class="text-muted">&bull; Понимание в реальном времени где требуется внести улучшения</p>
                                <p class="text-muted">&bull; Подсказки по оптимизации бизнес процессов</p>
                                <p class="text-muted">&bull; Все действия производятся на основе ваших данных</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ url_for('static',filename='img/analytic/analytic-3.jpg') }}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Управление и аналитика продаж</h4>
                                <h5 class="subheading"><i>На основе рыночных данных</i></h5>
                            </div>
                            <div class="timeline-body mt-4">
                                <p class="text-muted">&bull; Проводите целевые маркетинговые компании и повышайте эффективность продаж</p>
                                <p class="text-muted">&bull; Отслеживайти ваши компании по продажам в течении всего сезона</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ url_for('static',filename='img/analytic/analytic-4.jpg') }}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Собираем открытые данные с рынка и превращаем их в полезную информацию</h4>
                                <h5 class="subheading"><i>Следите за трендами и сравнивайте</i></h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">&bull; Мы анализируем цену каждый день и высчитываем среднее значение от лучших предложений в вашем регионе,
                                    для того чтобы вы могли продавать выгодно</p>
                            </div>
                        </div>
            </div>
            <div class="container">
                <div class="row margine-0">
                    <a href="{{ url_for('register') }}" class="btn btn-default text-center"><h6>Присоеденится бесплатно!</h6></a>
                </div>
            </div>
        </section>
	<!-- footer-->
	<footer class="footer text-faded text-center py-5">
		<div class="container"><p class="m-0 small">Copyright &copy; AgroCode 2018-2022</p></div>
	</footer>
</body>
</html>