<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analitic - AgroCode</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="{{ url_for('static',filename='css/analytic.css') }}" rel="stylesheet">
    <script src="{{ url_for('static',filename='js/analytic.js') }}"></script>
</head>
<body>
<!-- Sticky navbar-->
	<header class="header sticky-top">
		<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
			<div class="container"><a class="navbar-brand" href="{{ url_for('home') }}">
				<strong class="h6 mb-0 font-weight-bold text-uppercase">AgroCode</strong></a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">О нас</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('products') }}">Продукты</a></li>
						<li class="nav-item active"><a class="nav-link" href="#">Аналитика</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('team') }}">Наша команда</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Вход</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
<!-- Header -->
    <div class="top">
        <div class="text-center mt-4">
                    <h2 class="section-heading text-uppercase mt-4">Детальная аналитика</h2>
                    <h3 class="section-subheading text-muted mt-4">Полная прозрачная картина бизнеса в любой момент в течение сезона и по его окончании</h3>
        </div>
    </div>
	<section class="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-none d-lg-block">
                    <ol class="carousel-indicators tabs">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                            <figure>
                                <img src="https://livedemo00.template-help.com/wt_62267_v8/prod-20823-one-service/images/testimonials-01-179x179.png" class="img-fluid" alt="">
                            </figure>
                        </li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1">
                            <figure>
                                <img src="https://livedemo00.template-help.com/wt_62267_v8/prod-20823-one-service/images/testimonials-02-306x306.png" class="img-fluid" alt="">
                            </figure>
                        </li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2">
                            <figure>
                                <img src="https://livedemo00.template-help.com/wt_62267_v8/prod-20823-one-service/images/testimonials-03-179x179.png" class="img-fluid" alt="">
                            </figure>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <div id="carouselExampleIndicators" data-interval="false" class="carousel slide" data-ride="carousel">
                        <h3>WHAT OUR CLIENTS SAY</h3>
                        <h1>TESTIMONIALS</h1>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="quote-wrapper">
                                    <p>I have tried a lot of food delivery services but Plate is something out of this world! Their food is really healthy and it tastes great, which is why I recommend this company to all my friends!</p>
                                    <h3>peter lee</h3>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="quote-wrapper">
                                    <p>I have tried a lot of food delivery services but Plate is something out of this world! Their food is really healthy and it tastes great, which is why I recommend this company to all my friends!</p>
                                    <h3>peter lee</h3>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="quote-wrapper">
                                    <p>I have tried a lot of food delivery services but Plate is something out of this world! Their food is really healthy and it tastes great, which is why I recommend this company to all my friends!</p>
                                    <h3>peter lee</h3>
                                </div>
                            </div>
                        </div>
                        <ol class="carousel-indicators indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section" id="about">
            <div class="container">
                <ul class="timeline mt-4">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ url_for('static',filename='img/analytic/analytic.jpg') }}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Принимайте решения на основе данных</h4>
                                <h5 class="subheading"><i>С простым и понятным дашбордом</i></h5>
                            </div>
                            <div class="timeline-body mt-4">
                                <p class="text-muted">&bull; Визуализация всех данных </p>
                                <p class="text-muted">&bull; Формируйте отчет по продуктам, регионам, руководителям и т.д. </p>
                                <p class="text-muted">&bull; Создавайте собственные дашборды и формируйте отчеты для вашего бизнеса на основе собранных данных </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ url_for('static',filename='img/analytic/analytic-2.jpg') }}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Прозрачная визуализация вашего бизнеса</h4>
                                <h5 class="subheading"><i>В любой момент сезона</i></h5>
                            </div>
                            <div class="timeline-body mt-4">
                                <p class="text-muted">&bull; Практическая информация для повышения ROI</p>
                                <p class="text-muted">&bull; Понимание в реальном времени где требуется внести улучшения</p>
                                <p class="text-muted">&bull; Подсказки по оптимизации бизнес процессов</p>
                                <p class="text-muted">&bull; Все действия производятся на основе ваших данных</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ url_for('static',filename='img/analytic/analytic-3.jpg') }}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Управление и аналитика продаж</h4>
                                <h5 class="subheading"><i>На основе рыночных данных</i></h5>
                            </div>
                            <div class="timeline-body mt-4">
                                <p class="text-muted">&bull; Проводите целевые маркетинговые компании и повышайте эффективность продаж</p>
                                <p class="text-muted">&bull; Отслеживайти ваши компании по продажам в течении всего сезона</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ url_for('static',filename='img/analytic/analytic-4.jpg') }}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Собираем открытые данные с рынка и превращаем их в полезную информацию</h4>
                                <h5 class="subheading"><i>Следите за трендами и сравнивайте</i></h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">&bull; Мы анализируем цену каждый день и высчитываем среднее значение от лучших предложений в вашем регионе,
                                    для того чтобы вы могли продавать выгодно</p>
                            </div>
                        </div>
            </div>
            <div class="container">
                <div class="row margine-0">
                    <a href="{{ url_for('register') }}" class="btn btn-default text-center"><h6>Присоеденится бесплатно!</h6></a>
                </div>
            </div>
        </section>
	<!-- footer-->
	<footer class="footer text-faded text-center py-5">
		<div class="container"><p class="m-0 small">Copyright &copy; AgroCode 2018-2022</p></div>
	</footer>
</body>
</html>