{% extends 'sweater.html' %}

{% block title %}
Главная - AgroCode
{% endblock %}

{% block body %}
<section id="hero-fullscreen" class="hero-fullscreen d-flex align-items-center mt-4">
    <div class="container d-flex flex-column align-items-center position-relative aos-init aos-animate" data-aos="zoom-out">
      <h2>Добро пожаловать в <span>AgroCode</span></h2>
      <p>твой бесплатный аналитик в сельхоз секторе.</p>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
      </div>
    </div>
</section>
{% endblock %}