<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="Copyright &copy; AgroCode 2018-2022" />
    <meta name="author" content="AgroCode.ga" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!-- Favicons -->
    <link href="#" rel="icon">
    <link href="#" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link href="{{ url_for('static',filename='css/lib/bootstrap-icons.css') }}" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static',filename='css/base.css') }}" rel="stylesheet" />

    <title>{% block title %}{% endblock %}</title>
    <body>
    <!-- ======= Header ======= -->
      <header id="header" class="header fixed-top" data-scrollto-offset="0">
        <div class="container-fluid d-flex align-items-center justify-content-between">

          <a href="{{ url_for('home') }}" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>AgroCode<span>.</span></h1>
          </a>

          <nav id="navbar" class="navbar">
            <ul>
              <li> <a class="nav-link" href="{{ url_for('home') }}">Главная</a></li>
              <li><a class="nav-link" href="{{ url_for('about') }}">О нас</a></li>
              <li><a class="nav-link" href="{{ url_for('products') }}">Продукты</a></li>
              <!-- <li><a href="blog.html">Blog</a></li> -->
              <li class="dropdown"><a href="{{ url_for('analytic') }}"><span>Аналитика</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#" class="active">Как мы это делаем:</a></li>
                  <li><a href="{{ url_for('analytic') }}">- собираем данные в режиме реального времени</a></li>
                  <li><a href="{{ url_for('analytic') }}">- возможность подключить любой тип датчика</a></li>
                  <li><a href="{{ url_for('analytic') }}">- визуализация всех данных</a></li>
                </ul>
              </li>
              <li><a class="nav-link" href="{{ url_for('team') }}">Наша команда</a></li>
              <li><a class="nav-link" href="{{ url_for('contacts') }}">Наши контакты</a></li>
              <li class="dropdown"><a href="#"><i class="bi bi-globe dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#" class="active">Русский<i class="bi bi-globe"></i></a></li>
                  <li><a href="#">Английский</a></li>
                  <li><a href="#">Немецкий</a></li>
                  <li><a href="#">Испанский</a></li>
                  <li><a href="#">Китайский</a></li>
                </ul>
              </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle d-none"></i>
          </nav><!-- .navbar -->

          <a class="btn-getstarted scrollto" href="{{ url_for('register') }}">Вход</a>

        </div>
      </header><!-- End Header -->

      {% block body %}{% endblock %}

      <!-- ======= Footer ======= -->
      <footer id="footer" class="footer">

        <div class="footer-content">
          <div class="container">
            <div class="row">

              <div class="col-lg-3 col-md-6">
                <div class="footer-info">
                  <h3>AgroCode</h3>
                  <p>
                    Bo Put <br>
                    Kho Samui, Thailand<br><br>
                    <strong>Phone:</strong> +66 00 00 00 00<br>
                    <strong>Email:</strong> info@example.com<br>
                  </p>
                </div>
              </div>

              <div class="col-lg-2 col-md-6 footer-links">
                <h4>Полезные ссылки</h4>
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Главная</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">О нас</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Наша команда</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Наши контакты</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Политика о конфиденциальности</a></li>
                </ul>
              </div>

              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Наш сервис</h4>
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Веб дизайн</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Веб разработка</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Продукт менеджмент</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Маркетинг</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Дизайн графики</a></li>
                </ul>
              </div>

              <div class="col-lg-4 col-md-6 footer-newsletter">
                <h4>Наши новости</h4>
                <p>Подпишись на информационную рассылку наших новостей</p>
                <form action="" method="post">
                  <input type="email" name="email"><input type="submit" value="Подписаться">
                </form>

              </div>

            </div>
          </div>
        </div>

        <div class="footer-legal text-center">
          <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

            <div class="d-flex flex-column align-items-center align-items-lg-start">
              <div class="copyright">
                &copy; Copyright <strong><span>AgroCode</span></strong>. All Rights Reserved
              </div>
            </div>

            <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>
        </div>

      </footer><!-- End Footer -->

        <!-- JS -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
            <script>
              AOS.init();
            </script>
        <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>

        <!-- Template Main JS File -->
        <script src="{{ url_for('static',filename='js/lib/main.js') }}"></script>
    </body>
</html>