{% extends 'sweater.html' %}

{% block title %}
Наша команда
{% endblock %}

{% block body %}
<section id="team" class="team mt-4">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-header">
          <h2>Наша команда</h2>
          <p>Компания создана командой руководителей обладающих
            международным управленческим опытом в области сельского хозяйства, автопрома,
            цифровых технологий и финансов, а также большим опытом в сельхоз научной среде c множествоми патентов.</p>
        </div>

        <div class="row gy-5">

          <div class="col-xl-4 col-md-6 d-flex aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="{{ url_for('static',filename='img/team/vya.jpg') }}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
                <h4>Вячеслав Тюрин</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-4 col-md-6 d-flex aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="{{ url_for('static',filename='img/team/vya.jpg') }}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <div class="social">
                  <a href=""><i class="bi bi-telegram"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-4 col-md-6 d-flex aos-init aos-animate" data-aos="zoom-in" data-aos-delay="600">
            <div class="team-member">
              <div class="member-img">
                <img src="{{ url_for('static',filename='img/team/vya.jpg') }}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
</section>

<!-- ======= Deeply About Section ======= -->

<section id="about" class="about">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-header">
          <h2>Подробно о каждом</h2>
          <p>Биография, опыт, публикации.</p>
        </div>
        <div class="container marketing">
          <!-- START ОСОБЕННОСТИ -->

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Вячеслав Тюрин - <span class="text-warning">Сооснователь</span></h2>
              <!-- Tabs -->
              <ul class="nav nav-pills mb-3" role="tablist">
                <li><a class="bi bi-lightbulb nav-link active" data-bs-toggle="pill" href="#tab1" aria-selected="true" role="tab"> Идея</a></li>
                <li><a class="bi bi-bullseye nav-link" data-bs-toggle="pill" href="#tab2" aria-selected="false" role="tab" tabindex="-1"> Цели</a></li>
                <li><a class="bi bi-rocket-takeoff nav-link" data-bs-toggle="pill" href="#tab3" aria-selected="false" role="tab" tabindex="-1"> Реализация</a></li>
              </ul><!-- End Tabs -->

              <div class="tab-pane fade active show" id="tab1" role="tabpanel">
                <p class="fst-italic">И да, это последний блок репрезентативного содержимого заполнителя.
                  Опять же, на самом деле не предназначено для чтения, просто здесь, чтобы дать вам лучшее представление о том,
                  как это будет выглядеть с некоторым фактическим содержанием. Ваш контент.</p>
              </div>
              <div class="tab-pane fade" id="tab2" role="tabpanel">
                <p class="fst-italic">И да, .</p>
              </div>
              <div class="tab-pane fade" id="tab3" role="tabpanel">
                <p class="fst-italic">И да, это последний блок репрезентативного содержимого заполнителя.
                  Опять же, на самом деле не предназначено.</p>
              </div>

            </div>
            <div class="col-md-5">
              <div class="img-team" width="500" height="500" focusable="false">
                <img src="{{ url_for('static',filename='img/team/vya.jpg') }}" class="img-fluid" alt="">
              </div>
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Петр Яценко - <span class="text-warning">Сооснователь</span></h2>
              <!-- Tabs -->
              <ul class="nav nav-pills mb-3" role="tablist">
                <li><a class="bi bi-lightbulb nav-link active" data-bs-toggle="pill" href="#tab4" aria-selected="true" role="tab"> Идея</a></li>
                <li><a class="bi bi-bullseye nav-link" data-bs-toggle="pill" href="#tab5" aria-selected="false" role="tab" tabindex="-1"> Цели</a></li>
                <li><a class="bi bi-rocket-takeoff nav-link" data-bs-toggle="pill" href="#tab6" aria-selected="false" role="tab" tabindex="-1"> Реализация</a></li>
              </ul><!-- End Tabs -->

              <div class="tab-pane fade active show" id="tab4" role="tabpanel">
                <p class="fst-italic">И да, это последний блок репрезентативного содержимого заполнителя.
                  Опять же, на самом деле не предназначено для чтения, просто здесь, чтобы дать вам лучшее представление о том,
                  как это будет выглядеть с некоторым фактическим содержанием. Ваш контент.</p>
              </div>
              <div class="tab-pane fade" id="tab5" role="tabpanel">
                <p class="fst-italic">И да, .</p>
              </div>
              <div class="tab-pane fade" id="tab6" role="tabpanel">
                <p class="fst-italic">И да, это последний блок репрезентативного содержимого заполнителя.
                  Опять же, на самом деле не предназначено.</p>
              </div>

            </div>
            <div class="col-md-5 order-md-1">
              <div class="img-team" width="500" height="500" focusable="false">
                <img src="{{ url_for('static',filename='img/team/vya.jpg') }}" class="img-fluid" alt="">
              </div>
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Вячеслав Тюрин - <span class="text-warning">Сооснователь</span></h2>
              <!-- Tabs -->
              <ul class="nav nav-pills mb-3" role="tablist">
                <li><a class="bi bi-lightbulb nav-link active" data-bs-toggle="pill" href="#tab7" aria-selected="true" role="tab"> Идея</a></li>
                <li><a class="bi bi-bullseye nav-link" data-bs-toggle="pill" href="#tab8" aria-selected="false" role="tab" tabindex="-1"> Цели</a></li>
                <li><a class="bi bi-rocket-takeoff nav-link" data-bs-toggle="pill" href="#tab9" aria-selected="false" role="tab" tabindex="-1"> Реализация</a></li>
              </ul><!-- End Tabs -->

              <div class="tab-pane fade active show" id="tab7" role="tabpanel">
                <p class="fst-italic">И да, это последний блок репрезентативного содержимого заполнителя.
                  Опять же, на самом деле не предназначено для чтения, просто здесь, чтобы дать вам лучшее представление о том,
                  как это будет выглядеть с некоторым фактическим содержанием. Ваш контент.</p>
              </div>
              <div class="tab-pane fade" id="tab8" role="tabpanel">
                <p class="fst-italic">И да, .</p>
              </div>
              <div class="tab-pane fade" id="tab9" role="tabpanel">
                <p class="fst-italic">И да, это последний блок репрезентативного содержимого заполнителя.
                  Опять же, на самом деле не предназначено.</p>
              </div>

            </div>
            <div class="col-md-5">
              <div class="img-team" width="500" height="500" focusable="false">
                <img src="{{ url_for('static',filename='img/team/vya.jpg') }}" class="img-fluid" alt="">
              </div>
            </div>
          </div>

          <hr class="featurette-divider">

          <!-- /END ОСОБЕННОСТИ -->

      </div>

      </div>
</section>
{% endblock %}